# Terraform files
.terraform/
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Sensitive variables
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# SSH keys (VERY IMPORTANT)
*.pem
*.key